<body>
  <div class="main_container">
    <div class="information">
    <h2>スケジュール詳細</h2>
</div>
    <table> 
    <tbody><tr>
        <th>タイトル</th>
        <td><%= @post.title%></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @post.start_date%></td>
    </tr>
    <tr>
        <th>投稿日時</th>
        <td><%= @post.created_at.strftime("%Y年%m月%d日 %H時%M分")%></td>
    </tr>
    <tr>
        <th>終日</th>
        <td>
            <%if @post.all_day == true %>◯
            <%else @post.all_day == false %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>スケジュールメモ</th>
        <td><pre><%= @post.memo%></pre></td>
    </tr>
</tbody>
</table>
<ul>
    <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    <li><%= link_to "スケジュールを編集する", :edit_post %></li>
    <li><%= link_to "スケジュールを削除する", :posts, method: :delete, data: { confirm: '本当に削除しますか？' }  %></li>
</ul>
  </div>
  <footer>
    <h1>現在の日付 : <%= Date.current.strftime("%y年" "%m月" "%d日") %></h1>
    </h1>
  </footer>
</body>